<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODEJS CƠ BẢN</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/upload-file">Upload file</a>
    </div>

    <div>
      <!-- <%=dataUser%> -->
      <div class="w3-container">
        <h2>List Users</h2>
        <table class="w3-table-all">
          <thead>
            <tr class="w3-light-grey">
              <th>ID</th>
              <th>LAST NAME</th>
              <th>FIRST Name</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <% for(let i=0; i< dataUser.length; i++){ %>
          <tr>
            <td><%=dataUser[i].id %></td>
            <td><%=dataUser[i].lastName %></td>
            <td><%=dataUser[i].firstName %></td>
            <td>
              <button type="button">
                <a href="/detail/user/<%=dataUser[i].id %>" target="_blank"
                  >Detail</a
                >
              </button>
              <form
                action="/edit-user/<%=dataUser[i].id %>"
                method="GET"
                style="display: inline"
              >
                <button type="submit">Edit</button>
              </form>
              <form action="/delete-user" method="POST" style="display: inline">
                <input
                  type="text"
                  hidden
                  value="<%=dataUser[i].id%>"
                  name="del_id"
                />
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }%>
        </table>
      </div>
    </div>
    <div class="create-user-container">
      <form action="/create-new-user" method="POST">
        <div class="title-head">CREATE A NEW USER</div>
        <div>
          <label class="label-input">First Name:</label>
          <input type="text" name="firstName" />
        </div>
        <div>
          <label class="label-input">Last Name:</label>
          <input type="text" name="lastName" />
        </div>
        <div>
          <label class="label-input">Email:</label>
          <input type="text" name="email" />
        </div>
        <div>
          <label class="label-input">Address:</label>
          <input type="text" name="address" />
        </div>
        <div class="btn-submit">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
